<header class="header">
  <div class="container header__container">
    <a href="./#home" class="header__logo">
      Zonic<span class="header__logo-accent">-Tix</span>
    </a>

    <nav class="nav" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item"><a href="./#home" class="nav__link active">Главная</a></li>
        <li class="nav__item"><a href="./#platform" class="nav__link">О платформе</a></li>
        <li class="nav__item"><a href="./#innovations" class="nav__link">Инновации</a></li>
        <li class="nav__item"><a href="./#education" class="nav__link">Обучение</a></li>
        <li class="nav__item"><a href="./#contact" class="nav__link header__btn-mobile">Связаться</a></li>
      </ul>
      <button class="nav__close" id="nav-close">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </nav>

    <div class="header__actions">
      <a href="./#contact" class="btn btn--small header__cta">Связаться</a>
      <button class="header__toggle" id="nav-toggle">
        <i class="fa-solid fa-bars-staggered"></i>
      </button>
    </div>
  </div>
</header>